@model AndradeEduardoExamenProgreso1.Models.Cliente

@{
    ViewData["Title"] = "Eliminar Cliente";
}

<h2>Eliminar Cliente</h2>

<h3>¿Estás seguro de que deseas eliminar este cliente?</h3>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.clienteId</dd>

        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>

        <dt class="col-sm-2">Edad</dt>
        <dd class="col-sm-10">@Model.Edad</dd>

        <dt class="col-sm-2">Presupuesto</dt>
        <dd class="col-sm-10">@Model.Presupuesto.ToString("C")</dd>

        <dt class="col-sm-2">Tiene Puntos</dt>
        <dd class="col-sm-10">@((Model.tienePuntos) ? "Sí" : "No")</dd>

        <dt class="col-sm-2">Fecha de Reserva</dt>
        <dd class="col-sm-10">@Model.fechaAproximadaReserva.ToShortDateString()</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="clienteId" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a class="btn btn-secondary" href="@Url.Action("Index")">Cancelar</a>
    </form>
</div>
